# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# =========================
# Logs
# =========================
reports/


# =========================
# Coverage (c8 / nyc)
# =========================
coverage/
.nyc_output/

# =========================
# Allure
# =========================
allure-report/
